main {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    /*background-color: #ad1457;*/
}

.btn-get-recent-news {
    width: 30em;
    position: relative;
    margin-top: 20px;
    /*display: grid;*/
    /*float: left;*/
    border-radius: 12px;
    border: 1px solid #a0a0a0;
}

.btn-get-recent-news.light-theme {
    background-color: #f1f8e9;
}

.btn-get-recent-news.dark-theme {
    background-color: #424242;
}

.btn-get-recent-news.rose-theme {
    background-color: #ad1457;
}