header {
    height: 4em;
    background-color: #4995db;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    transition: 0.3s background-color;
}

header.light-theme {
    background-color: #4995db;
}

header.dark-theme {
    background-color: #616161;
}

header.rose-theme {
    background-color: #f48fb1;
}

nav {
    width: 60%;
    height: 100%;
    /*background-color: darkgray;*/
    box-sizing: border-box;
    /*border: 1px solid black;*/
    padding: 0;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
}

header nav ul.left {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    margin: 0;
}

header nav ul.left li {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    /*display: block;*/
    padding: 0 12px;
    margin: 0;
    /*border: 1px solid black;*/
    transition: 0.3s background-color;

}

header nav ul.left li.light-theme:hover {
    background-color: #3083CF;
}

header nav ul.left li.dark-theme:hover {
    background-color: #292929;
}

header nav ul.left li.rose-theme:hover {
    background-color: #e75480;
}


header nav ul.left li p {
    display: block;
    height: 100%;
    color: #f0f8ff;
    font-size: 22px;
    /*text-decoration: none;*/
    /*text-decoration-color: #ad1457;*/
    box-sizing: border-box;
    margin: 0;
}

header nav ul.left li:hover p{
    color: #ffffcc;
}

header div.right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 15px;
}
header ul.right {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header ul.right li {
    display: block;
    margin: 0 10px;
}

header ul.right li p {
    margin: 0;
    color: #f0f8ff;
}

button.themeChange {
    margin: 0;
    border: none;
    border-radius: 10px;
    padding: 4px 10px;
    transition: 0.3s background-color, color;
}

button.themeChange.light-theme {
    background-color: #18568E;
    color: #c7e5ff;
}

button.themeChange.dark-theme {
    background-color: #424242;
    color: #f5f5f5;
}

button.themeChange.rose-theme {
    background-color: #ff4081;
    color: #fce4ec;
}
